<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
<a href="/admin/adminMain"><img src="/images/hamorestLogo.jpg" width="80" height="100%"></a>

<div class="middle-main">
    <div style="display : flex;">

        <div class="hotel-1">
            <div class="hotelId" th:text="${hotel.hotelId}" style="text-align: center; margin: 5px 0px;">숙소아이디</div>
            <div th:text="${hotel.ownerId}" style="text-align: center; margin: 5px 0px;">사업자 아이디</div>
            <div th:text="${hotel.hotelName}" style="text-align: center; margin: 5px 0px;">숙소명</div>
            <div th:text="${hotel.hotelAddr}" style="text-align: center;">주소</div>
            <div th:text="${hotel.hotelInfo}" style="text-align: center;">주소</div>
        </div>
        <button type="button" id="permitBtn">승인</button>

    </div>
</div>

<script>
    $(document).ready(function() {
         $("#permitBtn").click(function() {

             var hotelId = $(".hotelId").text();
             console.log("Clicked! hotelId:", hotelId);

             $.ajax({
                 type: "POST",
                 url: "/admin/hotelPermit/"+hotelId,
                 success: function(response) {
                     alert('승인완료했습니다.');
                     window.location.href = "/admin/hotelPermit";
                 },
                 error: function(error) {
                     alert('오류로 승인을 실패하였습니다.');
                     window.location.href = "/admin/hotelPermit";
                 }
             });
         });
    });
</script>

</body>
</html>