<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .hotel{
            display : flex;
            bordeor : 1px solid gray;
        }

        .hotel div{
            border-bottom : 1px solid gray;
        }
    </style>
</head>
<body>
<a href="/admin/adminMain"><img src="/images/hamorestLogo.jpg" width="80" height="100%"></a>
숙소 관리
<div class="hotel" th:each="hotels : ${hotels}">
    <div th:text="${hotels.hotelId}"></div>
    <div th:text="${hotels.hotelName}"></div>
    <div th:text="${hotels.ownerId}"></div>
</div>
</body>
</html>